<a href="https://colab.research.google.com/github/AlexisL321/Group18_CS539/blob/main/Group18_CS539.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')
import numpy as np
import pandas as pd

Mounted at /content/drive/

In [ ]:
with open('/content/drive/My Drive/prices.csv','r') as f:
  temp=pd.read_csv(f)
with open('/content/drive/My Drive/prices_split_adjusted.csv','r') as f:
  temp2=pd.read_csv(f)
temp.info()
temp.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    851264 non-null  object
 1   symbol  851264 non-null  object
 2   open    851264 non-null  float64
 3   close   851264 non-null  float64
 4   low     851264 non-null  float64
 5   high    851264 non-null  float64
 6   volume  851264 non-null  float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [ ]:
temp2.info()
temp2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    851264 non-null  object
 1   symbol  851264 non-null  object
 2   open    851264 non-null  float64
 3   close   851264 non-null  float64
 4   low     851264 non-null  float64
 5   high    851264 non-null  float64
 6   volume  851264 non-null  float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [ ]:
prelim_data=temp2.values
#print(prelim_data[0:10,:])

In [ ]:
#normalize the data
import sklearn.preprocessing as preprocessing
minMaxScaler=preprocessing.MinMaxScaler()
temp2['close']=minMaxScaler.fit_transform(temp2.close.values.reshape(-1,1))
temp2['open']=minMaxScaler.fit_transform(temp2.open.values.reshape(-1,1))
temp2['high']=minMaxScaler.fit_transform(temp2.high.values.reshape(-1,1))
temp2['low']=minMaxScaler.fit_transform(temp2.low.values.reshape(-1,1))
temp2['volume']=minMaxScaler.fit_transform(temp2.volume.values.reshape(-1,1))

In [ ]:
nameColumn=temp2['symbol'].values
name, nameCount = np.unique(nameColumn,return_counts=True)
for i in range(0,len(nameColumn)):
  print(' %s has %i samples'%(name[i],nameCount[i]))

 A has 1762 samples
 AAL has 1762 samples
 AAP has 1762 samples
 AAPL has 1762 samples
 ABBV has 1008 samples
 ABC has 1762 samples
 ABT has 1762 samples
 ACN has 1762 samples
 ADBE has 1762 samples
 ADI has 1762 samples
 ADM has 1762 samples
 ADP has 1762 samples
 ADS has 1762 samples
 ADSK has 1762 samples
 AEE has 1762 samples
 AEP has 1762 samples
 AES has 1762 samples
 AET has 1762 samples
 AFL has 1762 samples
 AGN has 1762 samples
 AIG has 1762 samples
 AIV has 1762 samples
 AIZ has 1762 samples
 AJG has 1762 samples
 AKAM has 1762 samples
 ALB has 1762 samples
 ALK has 1762 samples
 ALL has 1762 samples
 ALLE has 786 samples
 ALXN has 1762 samples
 AMAT has 1762 samples
 AME has 1762 samples
 AMG has 1762 samples
 AMGN has 1762 samples
 AMP has 1762 samples
 AMT has 1762 samples
 AMZN has 1762 samples
 AN has 1762 samples
 ANTM has 1762 samples
 AON has 1762 samples
 APA has 1762 samples
 APC has 1762 samples
 APD has 1762 samples
 APH has 1762 samples
 ARNC has 1762 samples
 ATVI has 1762 samples
 AVB has 1762 samples
 AVGO has 1762 samples
 AVY has 1762 samples
 AWK has 1762 samples
 AXP has 1762 samples
 AYI has 1762 samples
 AZO has 1762 samples
 BA has 1762 samples
 BAC has 1762 samples
 BAX has 1762 samples
 BBBY has 1762 samples
 BBT has 1762 samples
 BBY has 1762 samples
 BCR has 1762 samples
 BDX has 1762 samples
 BEN has 1762 samples
 BHI has 1762 samples
 BIIB has 1762 samples
 BK has 1762 samples
 BLK has 1762 samples
 BLL has 1762 samples
 BMY has 1762 samples
 BSX has 1762 samples
 BWA has 1762 samples
 BXP has 1762 samples
 C has 1762 samples
 CA has 1762 samples
 CAG has 1762 samples
 CAH has 1762 samples
 CAT has 1762 samples
 CB has 1762 samples
 CBG has 1762 samples
 CBS has 1762 samples
 CCI has 1762 samples
 CCL has 1762 samples
 CELG has 1762 samples
 CERN has 1762 samples
 CF has 1762 samples
 CFG has 504 samples
 CHD has 1762 samples
 CHK has 1762 samples
 CHRW has 1762 samples
 CHTR has 1761 samples
 CI has 1762 samples
 CINF has 1762 samples
 CL has 1762 samples
 CLX has 1762 samples
 CMA has 1762 samples
 CMCSA has 1762 samples
 CME has 1762 samples
 CMG has 1762 samples
 CMI has 1762 samples
 CMS has 1762 samples
 CNC has 1762 samples
 CNP has 1762 samples
 COF has 1762 samples
 COG has 1762 samples
 COH has 1762 samples
 COL has 1762 samples
 COO has 1762 samples
 COP has 1762 samples
 COST has 1762 samples
 COTY has 896 samples
 CPB has 1762 samples
 CRM has 1762 samples
 CSCO has 1762 samples
 CSRA has 284 samples
 CSX has 1762 samples
 CTAS has 1762 samples
 CTL has 1762 samples
 CTSH has 1762 samples
 CTXS has 1762 samples
 CVS has 1762 samples
 CVX has 1762 samples
 CXO has 1762 samples
 D has 1762 samples
 DAL has 1762 samples
 DD has 1762 samples
 DE has 1762 samples
 DFS has 1762 samples
 DG has 1762 samples
 DGX has 1762 samples
 DHI has 1762 samples
 DHR has 1762 samples
 DIS has 1762 samples
 DISCA has 1762 samples
 DISCK has 1762 samples
 DLPH has 1008 samples
 DLR has 1762 samples
 DLTR has 1762 samples
 DNB has 1762 samples
 DOV has 1762 samples
 DOW has 1762 samples
 DPS has 1762 samples
 DRI has 1762 samples
 DTE has 1762 samples
 DUK has 1762 samples
 DVA has 1762 samples
 DVN has 1762 samples
 EA has 1762 samples
 EBAY has 1762 samples
 ECL has 1762 samples
 ED has 1762 samples
 EFX has 1762 samples
 EIX has 1762 samples
 EL has 1762 samples
 EMN has 1762 samples
 EMR has 1762 samples
 ENDP has 1762 samples
 EOG has 1762 samples
 EQIX has 1762 samples
 EQR has 1762 samples
 EQT has 1762 samples
 ES has 1762 samples
 ESRX has 1762 samples
 ESS has 1762 samples
 ETFC has 1762 samples
 ETN has 1762 samples
 ETR has 1762 samples
 EVHC has 853 samples
 EW has 1762 samples
 EXC has 1762 samples
 EXPD has 1762 samples
 EXPE has 1762 samples
 EXR has 1762 samples
 F has 1762 samples
 FAST has 1762 samples
 FB has 1008 samples
 FBHS has 1008 samples
 FCX has 1762 samples
 FDX has 1762 samples
 FE has 1762 samples
 FFIV has 1762 samples
 FIS has 1762 samples
 FISV has 1762 samples
 FITB has 1762 samples
 FL has 1762 samples
 FLIR has 1762 samples
 FLR has 1762 samples
 FLS has 1762 samples
 FMC has 1762 samples
 FOX has 1762 samples
 FOXA has 1762 samples
 FRT has 1762 samples
 FSLR has 1762 samples
 FTI has 1762 samples
 FTR has 1762 samples
 FTV has 126 samples
 GD has 1762 samples
 GE has 1762 samples
 GGP has 1762 samples
 GILD has 1762 samples
 GIS has 1762 samples
 GLW has 1762 samples
 GM has 1540 samples
 GOOG has 1762 samples
 GOOGL has 1762 samples
 GPC has 1762 samples
 GPN has 1762 samples
 GPS has 1762 samples
 GRMN has 1762 samples
 GS has 1762 samples
 GT has 1762 samples
 GWW has 1762 samples
 HAL has 1762 samples
 HAR has 1762 samples
 HAS has 1762 samples
 HBAN has 1762 samples
 HBI has 1762 samples
 HCA has 1008 samples
 HCN has 1762 samples
 HCP has 1762 samples
 HD has 1762 samples
 HES has 1762 samples
 HIG has 1762 samples
 HOG has 1762 samples
 HOLX has 1762 samples
 HON has 1762 samples
 HP has 1762 samples
 HPE has 304 samples
 HPQ has 1762 samples
 HRB has 1762 samples
 HRL has 1762 samples
 HRS has 1762 samples
 HSIC has 1762 samples
 HST has 1762 samples
 HSY has 1762 samples
 HUM has 1762 samples
 IBM has 1762 samples
 ICE has 1762 samples
 IDXX has 1762 samples
 IFF has 1762 samples
 ILMN has 1762 samples
 INTC has 1762 samples
 INTU has 1762 samples
 IP has 1762 samples
 IPG has 1762 samples
 IR has 1762 samples
 IRM has 1762 samples
 ISRG has 1762 samples
 ITW has 1762 samples
 IVZ has 1762 samples
 JBHT has 1762 samples
 JCI has 1762 samples
 JEC has 1762 samples
 JNJ has 1762 samples
 JNPR has 1762 samples
 JPM has 1762 samples
 JWN has 1762 samples
 K has 1762 samples
 KEY has 1762 samples
 KHC has 378 samples
 KIM has 1762 samples
 KLAC has 1762 samples
 KMB has 1762 samples
 KMI has 1008 samples
 KMX has 1762 samples
 KO has 1762 samples
 KORS has 1008 samples
 KR has 1762 samples
 KSS has 1762 samples
 KSU has 1762 samples
 L has 1762 samples
 LB has 1762 samples
 LEG has 1762 samples
 LEN has 1762 samples
 LH has 1762 samples
 LKQ has 1762 samples
 LLL has 1762 samples
 LLTC has 1762 samples
 LLY has 1762 samples
 LMT has 1762 samples
 LNC has 1762 samples
 LNT has 1762 samples
 LOW has 1762 samples
 LRCX has 1762 samples
 LUK has 1762 samples
 LUV has 1762 samples
 LVLT has 1762 samples
 LYB has 1683 samples
 M has 1762 samples
 MA has 1762 samples
 MAA has 1762 samples
 MAC has 1762 samples
 MAR has 1762 samples
 MAS has 1762 samples
 MAT has 1762 samples
 MCD has 1762 samples
 MCHP has 1762 samples
 MCK has 1762 samples
 MCO has 1762 samples
 MDLZ has 1762 samples
 MDT has 1762 samples
 MET has 1762 samples
 MHK has 1762 samples
 MJN has 1762 samples
 MKC has 1762 samples
 MLM has 1762 samples
 MMC has 1762 samples
 MMM has 1762 samples
 MNK has 894 samples
 MNST has 1762 samples
 MO has 1762 samples
 MON has 1762 samples
 MOS has 1762 samples
 MPC has 1008 samples
 MRK has 1762 samples
 MRO has 1762 samples
 MSFT has 1762 samples
 MSI has 1762 samples
 MTB has 1762 samples
 MTD has 1762 samples
 MU has 1762 samples
 MUR has 1762 samples
 MYL has 1762 samples
 NAVI has 504 samples
 NBL has 1762 samples
 NDAQ has 1762 samples
 NEE has 1762 samples
 NEM has 1762 samples
 NFLX has 1762 samples
 NFX has 1762 samples
 NI has 1762 samples
 NKE has 1762 samples
 NLSN has 1008 samples
 NOC has 1762 samples
 NOV has 1762 samples
 NRG has 1762 samples
 NSC has 1762 samples
 NTAP has 1762 samples
 NTRS has 1762 samples
 NUE has 1762 samples
 NVDA has 1762 samples
 NWL has 1762 samples
 NWS has 892 samples
 NWSA has 892 samples
 O has 1762 samples
 OKE has 1762 samples
 OMC has 1762 samples
 ORCL has 1762 samples
 ORLY has 1762 samples
 OXY has 1762 samples
 PAYX has 1762 samples
 PBCT has 1762 samples
 PBI has 1762 samples
 PCAR has 1762 samples
 PCG has 1762 samples
 PCLN has 1762 samples
 PDCO has 1762 samples
 PEG has 1762 samples
 PEP has 1762 samples
 PFE has 1762 samples
 PFG has 1762 samples
 PG has 1762 samples
 PGR has 1762 samples
 PH has 1762 samples
 PHM has 1762 samples
 PKI has 1762 samples
 PLD has 1762 samples
 PM has 1762 samples
 PNC has 1762 samples
 PNR has 1762 samples
 PNW has 1762 samples
 PPG has 1762 samples
 PPL has 1762 samples
 PRGO has 1762 samples
 PRU has 1762 samples
 PSA has 1762 samples
 PSX has 1008 samples
 PVH has 1762 samples
 PWR has 1762 samples
 PX has 1762 samples
 PXD has 1762 samples
 PYPL has 378 samples
 QCOM has 1762 samples
 QRVO has 504 samples
 R has 1762 samples
 RAI has 1762 samples
 RCL has 1762 samples
 REGN has 1762 samples
 RF has 1762 samples
 RHI has 1762 samples
 RHT has 1762 samples
 RIG has 1762 samples
 RL has 1762 samples
 ROK has 1762 samples
 ROP has 1762 samples
 ROST has 1762 samples
 RRC has 1762 samples
 RSG has 1762 samples
 RTN has 1762 samples
 SBUX has 1762 samples
 SCG has 1762 samples
 SCHW has 1762 samples
 SE has 1762 samples
 SEE has 1762 samples
 SHW has 1762 samples
 SIG has 1762 samples
 SJM has 1762 samples
 SLB has 1762 samples
 SLG has 1762 samples
 SNA has 1762 samples
 SNI has 1762 samples
 SO has 1762 samples
 SPG has 1762 samples
 SPGI has 1762 samples
 SPLS has 1762 samples
 SRCL has 1762 samples
 SRE has 1762 samples
 STI has 1762 samples
 STT has 1762 samples
 STX has 1762 samples
 STZ has 1762 samples
 SWK has 1762 samples
 SWKS has 1762 samples
 SWN has 1762 samples
 SYF has 504 samples
 SYK has 1762 samples
 SYMC has 1762 samples
 SYY has 1762 samples
 T has 1762 samples
 TAP has 1762 samples
 TDC has 1762 samples
 TDG has 1008 samples
 TEL has 1762 samples
 TGNA has 1762 samples
 TGT has 1762 samples
 TIF has 1762 samples
 TJX has 1762 samples
 TMK has 1762 samples
 TMO has 1762 samples
 TRIP has 1008 samples
 TROW has 1762 samples
 TRV has 1762 samples
 TSCO has 1762 samples
 TSN has 1762 samples
 TSO has 1762 samples
 TSS has 1762 samples
 TWX has 1762 samples
 TXN has 1762 samples
 TXT has 1762 samples
 UAA has 1762 samples
 UAL has 1762 samples
 UDR has 1762 samples
 UHS has 1762 samples
 ULTA has 1762 samples
 UNH has 1762 samples
 UNM has 1762 samples
 UNP has 1762 samples
 UPS has 1762 samples
 URBN has 1762 samples
 URI has 1762 samples
 USB has 1762 samples
 UTX has 1762 samples
 V has 1762 samples
 VAR has 1762 samples
 VFC has 1762 samples
 VIAB has 1762 samples
 VLO has 1762 samples
 VMC has 1762 samples
 VNO has 1762 samples
 VRSK has 1762 samples
 VRSN has 1762 samples
 VRTX has 1762 samples
 VTR has 1762 samples
 VZ has 1762 samples
 WAT has 1762 samples
 WBA has 1762 samples
 WDC has 1762 samples
 WEC has 1762 samples
 WFC has 1762 samples
 WFM has 1762 samples
 WHR has 1762 samples
 WLTW has 251 samples
 WM has 1762 samples
 WMB has 1762 samples
 WMT has 1762 samples
 WRK has 385 samples
 WU has 1762 samples
 WY has 1762 samples
 WYN has 1762 samples
 WYNN has 1762 samples
 XEC has 1762 samples
 XEL has 1762 samples
 XL has 1762 samples
 XLNX has 1762 samples
 XOM has 1762 samples
 XRAY has 1762 samples
 XRX has 1762 samples
 XYL has 1008 samples
 YHOO has 1762 samples
 YUM has 1762 samples
 ZBH has 1762 samples
 ZION has 1762 samples
 ZTS has 987 samples

IndexError: ignored

In [ ]:
#We choose one company's stock for the convenience of saving time while developing codes
dataAAL=temp2[temp2.symbol=='AAL'].copy().values
print(dataAAL[0:10,:])

[['2010-01-04' 'AAL' 0.002009123263206682 0.00201707536117994
  0.002040763685002362 0.0019573264634951547 0.011443465976706155]
 ['2010-01-05' 'AAL' 0.0019775332747914826 0.0023595975923237033
  0.0020730542496384748 0.0022262243482564694 0.02932844014157498]
 ['2010-01-06' 'AAL' 0.0022302531821130783 0.002220051498154022
  0.002260339524527932 0.002232477787436965 0.019307889759870196]
 ['2010-01-07' 'AAL' 0.0021481192122335593 0.002315196562360623
  0.0022926300891640454 0.0022637449833394436 0.016324676022639154]
 ['2010-01-08' 'AAL' 0.0022807971635773966 0.0022517665195562224
  0.002299088202091268 0.0022637449833394436 0.01484336412051788]
 ['2010-01-11' 'AAL' 0.0021923451960148385 0.002188336476751822
  0.0022215908469645964 0.0021386761997295297 0.012741213391506292]
 ['2010-01-12' 'AAL' 0.0021481192122335593 0.002213708493873582
  0.0022345070728190418 0.002088648686285564 0.009155307886968014]
 ['2010-01-13' 'AAL' 0.002186027198331799 0.002467428665091185
  0.0022732557503823774 0.0023075190576029134 0.019078259659761246]
 ['2010-01-14' 'AAL' 0.0024008391195551545 0.0025372017121760254
  0.0025251221545440614 0.0024388412803933233 0.01485162335917428]
 ['2010-01-15' 'AAL' 0.0025145630778498724 0.002480114673652065
  0.002538038380398507 0.0025201359897397673 0.012778903438332686]]

In [ ]:
def LSTM(dataset):

In [ ]:
import math
from sklearn.metrics import mean_squared_error
def return_rmse(test,predicted):
    rmse = math.sqrt(mean_squared_error(test, predicted))
    print("The root mean squared error is {}.".format(rmse))